# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.iws
.vscode/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env / secrets
.env
*.env.local

# Banco de dados local (se usar H2/SQLite em arquivo)
*.db
*.mv.db
*.trace.db
